<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAjK3FPlO7wakLNUE44r0u_i-Lzgtsrt48</string>
	<key>GCM_SENDER_ID</key>
	<string>53833801411</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tugaybakay.WhatsappClone</string>
	<key>PROJECT_ID</key>
	<string>whatsappclone-98557</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsappclone-98557.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:53833801411:ios:085b0652a897dbdae34c76</string>
</dict>
</plist>